body{
    margin: 0;
    padding: 0;

}
.shadow-txt{
    text-shadow:6px 6px 6px rgba(0, 0, 0, 0.5 );
}
.shadow-txt-3{
    text-shadow:3px 3px 3px rgba(0, 0, 0, 0.5 );
}
.shadow-txt-1{
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5 );
}

.capital{
    text-transform: capitalize;
}
.warraning{
    color: red;
}


.nav-wrapper em{
    padding-left: 20px;
}
.text-color{
    color: white;
}

.hero {
        width: 100%;
        
    }

.responsive-image{
        
        width:  100%;
        height: 300px;
        object-fit: cover;
    }

.border{
    border:2px double darkblue;
}    
    

.flashe-msg h6{
    line-height: 2;
}  

.icon {
    vertical-align: middle;
  }

.btn-pad{
      margin: 10px 20px;
  }

.pad-pad{
    padding: 15px;
}


.pad-zero{
    padding: 0;
}
.margin-zero{
    margin: 0;
}

.footer{
    position: fixed;
    bottom: 0;
}  

@media only screen and (min-width : 992px){

    .margin-lf{
        margin-left: 10%;
    } 
}

@media only screen and (min-width : 1600px){

    .margin-lf{
        margin-left: 12%;
    } 
}
