<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon credit: https://iconscout.com/icon/hot-soup-2374568 -->
    <link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/2c20b60c31.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Soup & Soft</title>
</head>

<body class="teal lighten-4">

    <header>
        <!-- Main navbar -->
        <nav class="nav-extended shadow-txt-1 teal accent-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo"><em>Soup&nbsp&&nbspSoft</em></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('add_recipe') }}">Add Recepie</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">User's Profile</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile navbar -->
        <ul class="sidenav teal accent-1 " id="mobile-demo">
            <li>
                <h4 class="center-align">Menu</h4>
            </li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a class="" href="{{ url_for('get_recipes') }}">Recipes</a></li>
            {% if session.user %}
                <li><a class="" href="{{ url_for('add_recipe') }}">Add Recepie</a></li>
                <li><a class="" href="{{ url_for('profile', username=session['user']) }}">User's Profile</a></li>
                <li><a class="" href="{{url_for('get_categories')}}">Manage Categories</a></li>
                <li><a class="" href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a class="" href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>

    </header>
   
    <section>
        <!-- flash message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashe-msg">
            <div class="col s12 m10 offset-m1 shadow-txt">
                <h6 class="center-align">{{ message}}</h6>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <!-- Hero Image -->
    <section>
        {% block hero %}
        {% endblock %}
    </section>

    <main class="teal accent-3">
        {% block content %}

        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>