<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c20b60c31.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Soup & Soft</title>
</head>

<body>

    <header>
        <!-- Main navbar -->
        <nav class="nav-extended shadow-txt teal accent-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo"><em>Soup & Soft</em></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">User's Profile</a></li>
                    <li><a href="#">Add Recepie</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="#">Log Out</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile navbar -->
        <ul class="sidenav teal accent-1 " id="mobile-demo">
            <li>
                <h4 class="center-align shadow-txt-3 amber deep-purple-text text-darken-4">Menu</h4>
            </li>
            <li><a class="deep-orange-text darken-4-text" href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a class="deep-orange-text darken-4-text" href="{{ url_for('profile', username=session['user']) }}">User's Profile</a></li>
            <li><a class="deep-orange-text darken-4-text" href="#">Add Recepie</a></li>
            <li><a class="deep-orange-text darken-4-text" href="#">Categories</a></li>
            <li><a class="deep-orange-text darken-4-text" href="{{ url_for('login') }}">Log In</a></li>
            <li><a class="deep-orange-text darken-4-text" href="#">Log Out</a></li>
            <li><a class="deep-orange-text darken-4-text" href="{{ url_for('register') }}">Register</a></li>
        </ul>

    </header>
   
    <section>
        <!-- flash message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashe-msg">
            <div class="col s12 m10 offset-m1 shadow-txt">
                <h6 class="amber center-align deep-purple-text text-darken-4">{{ message}}</h6>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <!-- Hero Image -->
    <section>
        {% block hero %}
        {% endblock %}
    </section>

    <main class="container">
        {% block content %}

        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>