{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m10 offset-m1 center-align">
      <div class="card">
        <div class="card-image">
            <img class="" src="{{ url_for('static', filename='images/error404.jpg')}}" alt="">
          <span class="card-title">Error 404</span>
        </div>
        <div class="card-content">
          <h3>Oops! This page is not available</h3>
        </div>
        <div class="card-action">
          <a href="{{ url_for('get_recipes') }}"><h5>Press Here to go Home Page<h5</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}