{% extends "base.html" %}

{% block hero %}
<section>
    <div>
        <img class="hero" src="{{ url_for('static', filename='images/soup-yellow-bowl.jpg')}}" alt="">
    </div>
</section>
{% endblock %}
{% block content %}

<div class=" row shadow-txt teal accent-3">
    <div class="col s12 m10 offset-m1">
        <h1 class="deep-purple-text text-darken-4 center-align ">Welcom</h1>
        <p class="center-align">
            This is the right place to enjoy the hot delecious soups and other drinks.
            We have a verity of hot soups and cold drinks. If you want to prepare a soup or cold drink, please visit our Recipes setion.
        </p>
        <h6 class="center-align amber ">
            <button class="amber">
            <a class="deep-purple-text text-darken-4" href="#">Recipes</a>
        </button>
        </h6>
    </div>
</div>

{% include 'footer.html' %}


{% endblock %}