{% extends "base.html" %}
{% block content %}



<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card-panel teal accent-3">
      <h3 class=" center-align capital">
        {{username}}'s Profile
      </h3>
    </div>
  </div>
</div>

<div class="row">
  {% for recipe in recipes %}
  <div class="col s12 l6 ">
    <a href="{{ url_for('recipe_display', recipe_id=recipe._id) }}">
      <div class="">
        <div class="card">
          <div class="card-image">
            <img class="responsive-image" src="{{ recipe.img_url }}" alt="Image not found"
              onerror="this.onerror=null;this.src='https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/potatosoup_11631_16x9.jpg';">
          </div>
          <div class="card-content">
            <h4 class="capital black-text">{{ recipe.recipe_name }}</h4>
          </div>
          <div class="card-action center-align teal accent-3 ">
            <a class=" btn waves-effect modal-trigger teal accent-3" href="#modal-{{loop.index}}">
              <i class="pad-zero fas fa-trash-alt black-text ">&nbsp; delete</i></a>
            <div id="modal-{{loop.index}}" class="modal">
              <div class="modal-content">
                <h4 class="capital">Delete for all eternity?</h4> <br>
                <p><em class="warraning">Warraning! </em> If you press " YES ", The recipe will be permanently deleted,
                  and we will not be able to recover it. <br>
                  Are you sure you want to <em class="warraning">permanently delete</em> this recipe?</p>
              </div>
              <div class="modal-footer center-align teal accent-3">
                <a href="#" class="modal-close waves-effect btn-flat brown accent-1 ">No</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                  class="modal-close waves-effect btn-flat brown accent-1">YES</a>
              </div>
            </div>
            <div class="btn-pad ">
              <a href="{{ url_for ('edit_recipe', recipe_id= recipe._id) }}" class="btn waves-effect center-align teal accent-3">
                <i class="fas fa-edit black-text">&nbsp; edit</i></a>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock%}