{% extends "base.html" %}


{% block content %}
<div class="container ">

    <div class="row  center-align">
        <div>
            <h4 class=" shadow-txt-1 align-center">Enjoy Our Delicious Recipes!</h4>
        </div>
    </div>

    <div class="row">
        <div class="card-panel teal accent-3">
            <form action="{{ url_for('search')}}" method="post">
                <div class="">
                    <div class="row">
                        <div class="col teal accent-3  s12 m12 white-text">
                            <input type="text" name="query" id="query" minlength="3" class="validate " required>
                            <label for="query">Search recipes here!</label>
                        </div>
                        <div class=" col s12 m12 center-align teal accent-3">
                            <button type="submit" class="teal accent-3 black-text btn-small btn-pad text-shadow">
                                search <i class="fas fa-search right"></i></button>
                            <a href="{{ url_for('get_recipes') }}"
                                class=" btn-small teal accent-3 black-text btn-pad text-shadow icon">Reset <i
                                    class="fas fa-undo right "></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row ">
    {% for recipe in recipes %}

        <div class="center-align margin-lf">
            <div class= "card btn-pad card-image col s12 m12 l5" >
            <h5 class="center-align capital ">{{ recipe.recipe_name }}</h5>
            {% if recipe.veg_no_veg == "on" %}
            <h6 class="center-align green-text"> Vegetarian!</h6>
            {% else %}
            <h6 class="center-align red-text"> Non Vegetarian!</h6>
            {% endif %}
            <div class="">
                <!-- Image Credit: https://www.bbc.co.uk/food/chefs/darina_allen -->
                <img class="responsive-image" src="{{ recipe.img_url }}" alt="Image not found"
                    onerror="this.onerror=null;this.src='https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/potatosoup_11631_16x9.jpg';" />
            </div>
            <p class="capital"><strong >Category:</strong> {{ recipe.category_name }}</p>
            <p class="capital"><em><strong >Shared by:</strong> {{ recipe.shared_by }}</em></p>
            <div class="col  s12 center-align ">
                <a href="{{ url_for('recipe_display', recipe_id=recipe._id) }}" class="black-text waves-effect waves-light btn btn-pad teal accent-3">
                Learn More &nbsp;
                <i class="fas fa-angle-double-right"></i>
                </a>
                
            </div>
            </div>
        </div>

    {% endfor %}


</div>

{% include 'footer.html' %}

{% endblock %}